@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Special+Gothic+Condensed+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-color: black;
    width: 100%;
    height: 100%;
} */

.text-xs {
    font-size: 0.75rem; /* 12px */
    letter-spacing: -0.5px;
  }
  
  .text-sm {
    font-size: 0.875rem; /* 14px */
    letter-spacing: -0.5px;
  }
  
  .text-base {
    font-size: 1rem; /* 16px */
    letter-spacing: -0.75px;
  }
  
  .text-lg {
    font-size: 1.125rem; /* 18px */
    letter-spacing: -1px;
  }
  
  .text-xl {
    font-size: 1.25rem; /* 20px */
    letter-spacing: -1px;
  }
  
  .text-2xl {
    font-size: 1.5rem; /* 24px */
    letter-spacing: -1.2px;
  }
  
  .text-3xl {
    font-size: 1.875rem; /* 30px */
    letter-spacing: -1.3px;
  }
  
  .text-4xl {
    font-size: 2.25rem; /* 36px */
    letter-spacing: -1.5px;
  }
  
  .text-5xl {
    font-size: 3rem; /* 48px */
    letter-spacing: -1.5px;
  }
  
  .text-6xl {
    font-size: 3.75rem; /* 60px */
    letter-spacing: -1.75px;
  }
  
  .text-7xl {
    font-size: 4.5rem; /* 72px */
    letter-spacing: -2px;
  }
  
  .text-8xl {
    font-size: 6rem; /* 96px */
    letter-spacing: -2.5px;
  }
  
  .text-9xl {
    font-size: 8rem; /* 128px */
    letter-spacing: -3px;
  }
  